.noppadding {
	padding: 0!important;
}

.text-center {
	text-align: center;
}

.main-padding {
	padding: 0 80px !important;
}

.main-color {
	color: #ba933e;
}

.debug {
	border: 1px solid red;
}


/* MAIN MENU START*/
.main-navigation {
	background-color: #1c1c1c;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 25px 80px 25px 80px;
}

.main-navigation .logo {
	font-size: 27px;
	padding-left: 40px;
	color: #d3a13e;
}

.main-navigation .link-list {
	padding-right: 50px;
	display: flex;
	flex-direction: row;
}

.main-navigation .link-list div {
	padding-left: 50px;
	font-size: 12px;
	text-transform: uppercase;
}

.main-navigation .link-list div a {
	color: #ffffff;
}

.main-navigation .social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main-navigation .social a {
	color: #7e7e7e;
	width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    border: 2px solid #7c7c7c;
    line-height: 50px;
	border-radius: 50%;
	text-align: center;
    font-family: "FontAwesome";
    font-size: 25px;
}

.main-navigation .social a:hover { 
	border: 2px solid #ba933e;
	color: #ba933e;
}

.facebook:before { 
    content: "\f09a"; 
}

.twitter:before { 
    content: "\f099"; 
}

.linkedin:before { 
    content: "\f0e1"; 
}

.instagram:before { 
    content: "\f16d"; 
}

.youtube:before { 
    content: "\f16a"; 
}
/* MAIN MENU END*/


/* CONSULTANT SECTION START */
.consultant {
	background-image: url(../images/consultant-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 5px;	
}

.consultant .section-heading {
	margin: 155px 0;
}

.section-heading h1 {
	color: #d3a13e;
	font-size: 58px;
	margin: 45px 0;
	text-transform: uppercase;
}

.section-heading h3 {
	color: #d3a13e;
	font-size: 25px;
	text-transform: uppercase;
}

.btn {
	border-radius: 0!important;
}

.btn.orange {
	background-color: #ba933e;
}

.btn-consultant {
	padding: 10px 30px!important;
	font-size: 30px!important;
	font-weight: 700;
	text-transform: uppercase;
}
/* CONSULTANT SECTION END */


/* SERVICES SECTION START*/
.services {
	padding: 10px 80px!important;
	background-color: #151515;
	letter-spacing: 20px;	
}

.services .item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 36vh;
	width: 100%;
	text-decoration: none;
	background-repeat: no-repeat;
    background-size: cover;
}

.services .item .item-header {
	color: #d3a13e;
	text-transform: uppercase;
	text-align: center;
	font-size: 4vh;
	font-weight: 800;
	text-decoration: none;
	word-spacing: 9999999px;
}

.services .branding {
	background-image: url(../images/services/branding.jpg);
}

.services .social {
	background-image: url(../images/services/socialmedia.jpg);
}

.services .content {
	background-image: url(../images/services/content.jpg);
}
/* SERVICES SECTION END*/

/* BRANDING SECTION START */

.branding {
	background-image: url(../images/branding/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    padding: 50px 0 80px 0;
}

.branding h2 {
	color: #d3a13e;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 15px;
}

.branding p {
	color: #c5c5c5;
	text-transform: uppercase;
}

.branding .normal {
	color: #c5c5c5;
	font-size: 16px;
	letter-spacing: 5px;
}

.branding .big {
	font-size: 50px;
	font-weight: 700;
}

.branding .small {
	text-transform: none;
	font-size: 18px;
}

.branding .icon-shield {
	display: block;
	font-family: "FontAwesome";
	font-size: 55px;
	color: #876d34;
	margin: 22px 0;
}

.branding .icon-shield:before {
	content: '\f13a';
}

.branding .btn-branding {
	text-transform: uppercase;
	font-size: 26px;
	color: #3c321c;
	padding: 6px 50px;
}
	
/* BRANDING SECTION END */