.noppadding {
	padding: 0!important;
}

.mainmenu {
	background-color: #1c1c1c;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px 0 80px;
	height: 100px;
}

.mainmenu .logo {
	font-size: 27px;
	padding-left: 40px;
	color: #d3a13e;
}

.mainmenu .link-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mainmenu .link-list div {
	padding-left: 140px;
	text-transform: uppercase;
}

.mainmenu .link-list div a {
	color: #ffffff;
}